# Editor backup files
*~
*.swp
*.swo
.*.swp

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory

# IDE / Editor directories
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Optional: local dev notes
notes.txt
TODO.txt

# Node
node_modules/
package-lock.json

# Capacitor native projects
ios/
android/

# Build outputs
dist/

# www contains symlinks for Capacitor
www/